<%= form_for(@say, html: {:class => 'form-horizontal'}) do |f| %>
  <% if @say.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@say.errors.count, "error") %> prohibited this say from being saved:</h2>

      <ul>
      <% @say.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :nickname, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :nickname, class: 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :text, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :text, class: 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit class: 'btn btn-large' %>
    </div>
  </fieldset>
<% end %>
