<%= form_for(@say, html: {:class => 'form-inline say'}) do |f| %>
  <% if @say.errors.any? %>
    <div class="alert alert-error">등록 실패</div>
  <% end %>

  <fieldset>
    <div class="control-group <%= 'error' if @say.errors[:nickname].present? %>">
      <%= f.label :nickname, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :nickname, class: 'input-small', autofocus: true, placeholder: t('mongoid.attributes.say.nickname') %>
        <span class="help-block"><%= @say.errors[:nickname].join(', ') %></span>
      </div>
    </div>
    <div class="control-group <%= 'error' if @say.errors[:text].present? %>">
      <%= f.label :text, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :text, class: 'input-xlarge span6', placeholder: t('mongoid.attributes.say.text') %>
        <span class="help-block"><%= @say.errors[:text].join(', ') %></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <%= f.submit class: 'btn' %>
      </div>
    </div>
  </fieldset>
<% end %>
