<p id="notice"><%= notice %></p>

<% @say.before_says.each do |say| %>
<ul>
  <li><%= say.nickname %> - <%= link_to say.text, say %></li>
</ul>
<% end %>

<p>
  <b>Nickname:</b>
  <%= @say.nickname %>
</p>

<p>
  <b>Text:</b>
  <%= @say.text %>
  <%= @say.votes %>

  <div class="vote-set">
    <a class="btn btn-large vote <%= vote_active_class(@say, :up) %>" href="<%= say_path(@say) %>/votes" data-remote="true" data-value="up" data-active-class="btn-primary" data-loading-text="processing..">up</a>
    <a class="btn btn-large vote <%= vote_active_class(@say, :down) %>" href="<%= say_path(@say) %>/votes" data-remote="true" data-value="down" data-active-class="btn-danger" data-loading-text="processing..">down</a>
  </div>
</p>

<%= link_to 'Edit', edit_say_path(@say) %> |
<%= link_to 'Back', says_path %>

<% @say.after_says.each do |say| %>
<ul>
  <li><%= say.nickname %> - <%= link_to say.text, say %></li>
</ul>
<% end %>

<%= form_for([@say, @say.after_says.build]) do |f| %>
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, value: saved_nickname %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
